In [10]:
import pandas as pd
import numpy as np
%matplotlib inline

In [4]:
df = pd.read_csv('clean_data.csv')

In [12]:
df.head()

,Unnamed: 0,Row_ID,Quantity,Discount,Shipping_Cost,Sales,Profit,Order_Priority_Critical,Order_Priority_Medium,Order_Priority_Low
0,1,40098,2,0.0,40.77,221.98,62.15,0,0,0
1,2,26341,9,0.1,923.63,3709.40,-288.77,1,0,0
2,3,25330,9,0.1,915.49,5175.17,919.97,0,1,0
3,4,13524,5,0.1,910.16,2892.51,-96.54,0,1,0
4,5,47221,8,0.0,903.04,2832.96,311.52,1,0,0